/*.color1 {color: #00a483;}
.color2 {color: #24ba69;}
.color3 {color: #bae385;}
.color4 {color: #ffffc1;}
.color5 {color: #ffffed;}*/
@font-face {
  font-family: "fuenteTitulo";
  src: url(../font/EnjelinaDemo.woff);
}

body{
  background-color: #bae385;
  background-image: url(../image/fondoarepas.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.whatsapp{
  position: fixed;
  right: 2%;
  top: 60%;
  font-size: 60px;
  flex-direction: row;
  z-index: 100;
}

.iconoW{
  color: #00a483;
  text-decoration: none;
  display: flex;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

nav{
  background-color: #ffffc1;

}

h1{
  font: 150%;
  font-weight: bold;
  font-size: 60px;
  color: #ffffed;
  font-family: "fuenteTitulo";
  margin-top: 5px;
  background-color: #24ba69;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #24ba69;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffed;
  text-align: center;
  padding: 10px 20px;
  font-family: sans-serif;;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #00a483;
}

h2{
  font-family: sans-serif;
  color: #24ba69;
  font-size: 30px;
  text-align: center;
}

.titreceta{
  background-color: #ffffc1;
}

.intro {
  height: 200px;
  margin: 20px auto;
  background-color: #ffffc1;
  padding: 15px;
}

.imagen {
  height: 200px;
  float: left;
  margin-right: 15px;
}

.descrip{
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
  height: 300px;
  line-height: 1.5;
  overflow: auto;
}


.texto{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}


.ahora{
  font-family: "fuenteTitulo";
  font-size: 26px;
  background: #bae385;
  text-align: center;
}

.Ingredientes{
  margin: 1%;
  padding: 10px;
  background-color: #24ba69;
  width: 48%;
  height: 200px;
  float: left;
  box-sizing: border-box;

  line-height: 1.8;
}


.listaOrd{
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
}


.especif{
  margin: 1%;
  padding: 10px;
  background-color: #24ba69;
  width: 48%;
  height: 200px;
  float: right;
  box-sizing: border-box;

  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
}



.prep{
  margin: 1%;
  padding: 30px;
  width: 93.4%;
  font-size: 28px;
  font-family: fuenteTitulo;
  font-weight: bold;
  background-color: #bae385;
  box-sizing: content-box;
  float: left;
}

.listaDes{
  margin: 1%;
  padding: 30px;
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #bae385;
  float: left;
  box-sizing: content-box;
}

.continuacion{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}

.mapa{
  margin: 1%;
  padding: 10px;
  background-color: #ffffed;
  width: 48%;
  float: left;
  box-sizing: border-box;
}

.video{
  margin: 1%;
  padding: 10px;
  background-color: #ffffed;
  width: 48%;

  float: right;
  box-sizing: border-box;
}

footer{
  margin: 1%;
  padding: 5px;
  background-color: #00a483;
  box-sizing: border-box;
  text-align: center;
  clear: both;
  bottom: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.redes {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  font-size: 30px;
}

.iconRedes {
  display: block;
  color: #ffffed;
  text-align: center;
  padding: 10px 20px;
  font-family: sans-serif;;
  font-weight: bold;
}
