/*.color1 {color: #00a483;}
.color2 {color: #24ba69;}
.color3 {color: #bae385;}
.color4 {color: #ffffc1;}
.color5 {color: #ffffed;}*/
@font-face {
  font-family: "fuenteTitulo";
  src: url(../font/EnjelinaDemo.woff);
}

body{
  background-color: #bae385;
  background-image: url(../image/fondoarepas.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.whatsapp{
  position: fixed;
  right: 2%;
  top: 60%;
  font-size: 60px;
  flex-direction: row;
  z-index: 100;
}

.iconoW{
  color: #808080;
  text-decoration: none;
  display: flex;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.iconoW:hover{
  color: #00a483;
}

nav{
  background-color: #ffffc1;

}

h1{
  font: 150%;
  font-weight: bold;
  font-size: 60px;
  color: #ffffed;
  font-family: "fuenteTitulo";
  margin-top: 5px;
  background-color: #24ba69;
  text-align: center;
}

.menuTop {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #24ba69;
}

.menu {
    float: left;
}

.menu .opciones {
  text-decoration: none;
  display: block;
  color: #ffffed;
  text-align: center;
  padding: 10px 20px;
  font-family: sans-serif;;
  font-weight: bold;
}

.menu .opciones:hover {
  background-color: #00a483;
}

h2{
  font-family: sans-serif;
  color: #24ba69;
  font-size: 30px;
  text-align: center;
}

.titreceta{
  background-color: #ffffc1;
}

.intro {
  height: 200px;
  margin: 20px auto;
  background-color: #ffffc1;
  padding: 15px;
}

.imagen {
  height: 200px;
  float: left;
  margin-right: 15px;
}

.descrip{
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
  height: 300px;
  line-height: 1.5;
  overflow: auto;
}


.texto{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}


.ahora{
  font-family: "fuenteTitulo";
  font-size: 26px;
  background: #bae385;
  text-align: center;
}

.Ingredientes{
  margin: 1%;
  padding: 10px;
  background-color: #24ba69;
  width: 48%;
  height: 200px;
  float: left;
  box-sizing: border-box;
  transition: 1s;

  line-height: 1.7;
}


.listaOrd{
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
}

.Ingredientes:hover{
  background-color: #ffffc1;
}

.especif{
  margin: 1%;
  padding: 10px;
  background-color: #24ba69;
  width: 48%;
  height: 200px;
  float: right;
  box-sizing: border-box;
  transition: 1s;

  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
}

.especif:hover{
  background-color: #ffffc1;
}

.prep{
  margin: 1%;
  padding: 30px;
  width: 93.4%;
  font-size: 28px;
  font-family: fuenteTitulo;
  font-weight: bold;
  background-color: #bae385;
  box-sizing: content-box;
  float: left;
}

.listaDes{
  margin: 1%;
  padding: 30px;
  background-color: #bae385;
  float: left;
  box-sizing: content-box;
}

.paso{
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
}

.continuacion{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}

.mapa{
  margin: 1%;
  padding: 10px;
  background-color: #ffffed;
  width: 48%;
  float: left;
  box-sizing: border-box;
  transition: 1s;
}

.mapa:hover{
  border-radius: 20px;
  background-color: #bae385;
}

.video{
  margin: 1%;
  padding: 10px;
  background-color: #ffffed;
  width: 48%;
  transition: 1s;

  float: right;
  box-sizing: border-box;
}

.video:hover{
  border-radius: 20px;
  background-color: #bae385;
}

footer{
  margin: 1%;
  padding: 5px;
  background-color: #00a483;
  box-sizing: border-box;
  text-align: center;
  clear: both;
  bottom: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.redes {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 25px;
}


.iconRedes .enlace{
  display: block;
  color: #ffffed;
  text-align: center;
  padding: 10px 20px;
  font-family: sans-serif;;
  font-weight: bold;
}


/*FORMULARIO*/

form{
  margin: 0 auto;
  width: 400px;
  background-color: #bae385;
  padding: 10px;
  color: #ffffed;
  border-radius: 3px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 7px 13px 37px #000;
}

input{
  border: 0;
  outline: none;
}

textarea{
  border: 0;
  outline: none;
}

.campo{
  border: solid 1px #ffffed;
  padding: 10px;
  margin: 10px;
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  font-family: sans-serif;
}

.campo:focus{
  border-color: green;
}

.titForm{
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}

.term{
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 40px;
}


.termycond{
  color: white;
  text-decoration: none;
}

.termycond:hover {
  color: #00a483;
  text-decoration: underline;
}

.ya{
  text-align: center;
}

.cuenta{
  color: white;
  text-decoration: none;
}

.cuenta:hover{
  color: #00a483;
  text-decoration: underline;
}

.boton{
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 12px;
  background-color: #ffffc1;
  margin: 16px 0;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bolder;
}

.boton:hover{
  background-color: #24ba69;
  text-decoration: underline;
  cursor: pointer;
}
